.price-container {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
    border-bottom: 1px solid black;
}

.price-header {
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    text-align: start;
    padding-left: 1rem;
}

.price-content {
    grid-column: 1 / 6;
    grid-row: 4 / 11;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.price-input {
    width: 35%;
    height: 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
}