.container {
    width: 100%;
    display: grid;
    grid-template-columns: 5vh repeat(10, 1fr) 5vh;
    grid-template-rows: 40vh 3vh 40vh;
}

.news {
    width: 100%;
    grid-column: 2/10;
    grid-row: 1;
}

.sale {
    justify-self: end;
    grid-column: 10 / 12;
    grid-row: 1;
}

.history {
    grid-column: 2 / 12;
    grid-row: 3;
}